<%= form_with model: @post_form, url: url, method: method, id: 'new_post', local: true do |f|%>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title, id:"post_title" %>
  </div>

  <div class="field">
    <%= f.label :images, "画像" %><br />
    <%= f.file_field :images, multiple: true, id:"post_image" %>
  </div>

  <div class="field">
    <%= f.label :genre, "投稿ジャンル" %><br />
    <%= f.select :genre, [["美容投稿", 1], ["お悩み投稿", 2]], include_blank: "選択して下さい", id:"post_genre" %>
  </div> 

  <div class="field">
    <%= f.label :detail, "投稿内容" %><br />
    <%= f.text_area :detail, class: :form__text, id:"post_detail" %>
  </div>

  <div class="field">
    <%= f.label :tagname, "タグ(タグ同士の間には半角の「,」を入れてください)", {class:"tag-label"} %><br />
    <%= f.text_field :tagname, placeholder: "（例）スキンケア,乾燥肌,肌荒れ", :class => "tag-field" %>
  </div>


  <div class="actions">
    <%= f.submit "投稿", class: :form__btn  %>
  </div>
<% end %>