<%= form_with model: @post, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title, id:"post_title" %>
  </div>

  <div class="field">
    <%= f.label :images, "画像" %><br />
    <%= f.file_field :images, multiple: true, id:"post_image" %>
  </div>

  <%# <div class="field">
    <%= f.label :hoge, "投稿ジャンル" %><br />
    <%# <%= f.text_area :hoge, class: :form__text, id:"prototype_catch_copy" %> 
  <%# </div>  %>

  <div class="field">
    <%= f.label :detail, "投稿内容" %><br />
    <%= f.text_area :detail, class: :form__text, id:"post_detail" %>
  </div>

  <div class="actions">
    <%= f.submit "投稿", class: :form__btn  %>
  </div>
<% end %>